/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
hr {
  background-color: #737373;
}

body {
  margin: 20px;
  overflow-wrap: break-word;
}

body.nightMode {
  background-color: var(--canvas);
  color: var(--fg);
}

img {
  max-width: 95%;
  max-height: 95vh;
}

#_flag {
  position: fixed;
  right: 10px;
  top: 0;
  font-size: 30px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

#_mark {
  position: fixed;
  left: 10px;
  top: 0;
  font-size: 30px;
  color:#ff0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

#typeans {
  width: 100%;
  box-sizing: border-box;
}

code#typeans {
  white-space: pre-wrap;
}

.typeGood {
  background: #afa;
  color: #000;
}

.typeBad {
  color: #000;
  background: #faa;
}

.typeMissed {
  color: #000;
  background: #ccc;
}

button {
  margin: 1em .5em;
}

.replay-button {
  text-decoration: none;
  display: inline-flex;
  vertical-align: middle;
  margin: 3px;
}
.replay-button svg {
  width: 40px;
  height: 40px;
}
.replay-button svg circle {
  fill: #fff;
  stroke: #414141;
}
.replay-button svg path {
  fill: #414141;
}

.nightMode .latex {
  filter: invert(100%);
}

.drawing {
  zoom: 50%;
}

.nightMode img.drawing {
  filter: invert(1) hue-rotate(180deg);
}
/*AnKing edits*/