/* night-mode-specific colours */
.review-count {
  color: #0a0;
}

.new-count {
  color: #00a;
}

.learn-count {
  color: #C35617;
}

.zero-count {
  color: #ddd;
}

.nightMode .review-count {
  color: #5CcC00;
}
.nightMode .new-count {
  color: #77ccff;
}
.nightMode .learn-count {
  color: #FF935B;
}
.nightMode .zero-count {
  color: #444;
}

/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
.smallLink {
  font-size: 10px;
}

h3 {
  margin-bottom: 0;
}

.descfont {
  padding: 1em;
  color: #333;
}

.description {
  white-space: pre-wrap;
}

#fulldesc {
  display: none;
}

.descmid {
  width: 70%;
  margin: 0 auto 0;
  text-align: left;
}

.dyn {
  text-align: center;
}

.nightMode .descfont {
  color: #ccc;
}
body {

    background-image: url("/_addons/0customback update/user_files/background/Milkyway.png"); 
    background-size: cover;  
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: !important; 
}
body.nightMode {

    background-image: url("/_addons/0customback update/user_files/background/Milkyway.png"); 
    background-size: cover;  
    background-attachment: fixed; 
    background-repeat: no-repeat;
    background-position: center;
    background-color: !important; 
}
