/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */
#header {
  border-bottom: 0;
  margin-bottom: 6px;
  margin-top: 0;
  padding: 9px;
}
body::before {

    background-image: url("/_addons/zCustomback-gui/user_files/background/AnKing.png"); 
    background-size: cover;  
    background-attachment: fixed!important; 
    background-repeat: no-repeat;
    background-position: bottom;;
    background-color: !important; 
    opacity: 0.22;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -99;
    will-change: transform;
    transform: scale(1.0);
    
}