/* Copyright: Ankitects Pty Ltd and contributors
 * License: GNU AGPL, version 3 or later; http://www.gnu.org/licenses/agpl.html */

/*! colors */
:root {
    /*! Default text/icon color */
    --fg: #020202;
    /*! Placeholder text, icons in idle state */
    --fg-subtle: #737373;
    /*! Foreground color of disabled UI elements */
    --fg-disabled: #858585;
    /*! Foreground color that barely stands out against canvas */
    --fg-faint: #afafaf;
    /*! Hyperlink foreground color */
    --fg-link: #1d4ed8;
    /*! Window background */
    --canvas: #f5f5f5;
    /*! Background of containers */
    --canvas-elevated: white;
    /*! Background of inputs inside containers */
    --canvas-inset: white;
    /*! Background of floating elements (menus, tooltips) */
    --canvas-overlay: #fcfcfc;
    /*! Background of code editors */
    --canvas-code: white;
    /*! Transparent background for surfaces containing text */
    --canvas-glass: rgba(255, 255, 255, 0.4);
    /*! Border color with medium contrast against window background */
    --border: #c4c4c4;
    /*! Border color with low contrast against window background */
    --border-subtle: #e4e4e4;
    /*! Border color with high contrast against window background */
    --border-strong: #858585;
    /*! Border color of focused input elements */
    --border-focus: #3b82f6;
    /*! Background color of buttons */
    --button-bg: #fcfcfc;
    /*! Start value of default button gradient */
    --button-gradient-start: white;
    /*! End value of default button gradient */
    --button-gradient-end: #fcfcfc;
    /*! Border color of default button in hover state */
    --button-hover-border: #999999;
    /*! Background color of disabled button */
    --button-disabled: rgba(214, 214, 214, 0.5);
    /*! Background color of primary button */
    --button-primary-bg: #306bec;
    /*! Start value of primary button gradient */
    --button-primary-gradient-start: #3b82f6;
    /*! End value of primary button gradient */
    --button-primary-gradient-end: #306bec;
    /*! Background color of primary button in disabled state */
    --button-primary-disabled: #93c5fd;
    /*! Background of scrollbar in idle state (Win/Lin only) */
    --scrollbar-bg: #d6d6d6;
    /*! Background of scrollbar in hover state (Win/Lin only) */
    --scrollbar-bg-hover: #c4c4c4;
    /*! Background of scrollbar in pressed state (Win/Lin only) */
    --scrollbar-bg-active: #afafaf;
    /*! Default box-shadow color */
    --shadow: #c4c4c4;
    /*! Inset box-shadow color */
    --shadow-inset: #454545;
    /*! Box-shadow color with lower contrast against window background */
    --shadow-subtle: #737373;
    /*! Box-shadow color for elements in focused state */
    --shadow-focus: #6366f1;
    /*! Accent color for cards */
    --accent-card: #60a5fa;
    /*! Accent color for notes */
    --accent-note: #22c55e;
    /*! Saturated accent color to grab attention */
    --accent-danger: #ef4444;
    /*! Flag 1 (red) */
    --flag-1: #ef4444;
    /*! Flag 2 (orange) */
    --flag-2: #fb923c;
    /*! Flag 3 (green) */
    --flag-3: #4ade80;
    /*! Flag 4 (blue) */
    --flag-4: #3b82f6;
    /*! Flag 5 (pink) */
    --flag-5: #e879f9;
    /*! Flag 6 (turquoise) */
    --flag-6: #2dd4bf;
    /*! Flag 7 (purple) */
    --flag-7: #a855f7;
    /*! Accent color for new cards */
    --state-new: #3b82f6;
    /*! Accent color for cards in learning state */
    --state-learn: #dc2626;
    /*! Accent color for cards in review state */
    --state-review: #16a34a;
    /*! Accent color for buried cards */
    --state-buried: #f59e0b;
    /*! Accent color for suspended cards */
    --state-suspended: #facc15;
    /*! Accent color for marked cards */
    --state-marked: #6366f1;
    /*! Background color of highlighted items */
    --highlight-bg: rgba(37, 99, 235, 0.5);
    /*! Foreground color of highlighted items */
    --highlight-fg: black;
    /*! Background color of selected text */
    --selected-bg: rgba(214, 214, 214, 0.5);
    /*! Foreground color of selected text */
    --selected-fg: black;
    color-scheme: light
}

:root.night-mode {
    /*! Default text/icon color */
    --fg: #fcfcfc;
    /*! Placeholder text, icons in idle state */
    --fg-subtle: #858585;
    /*! Foreground color of disabled UI elements */
    --fg-disabled: #737373;
    /*! Foreground color that barely stands out against canvas */
    --fg-faint: #545454;
    /*! Hyperlink foreground color */
    --fg-link: #bfdbfe;
    /*! Window background */
    --canvas: #2c2c2c;
    /*! Background of containers */
    --canvas-elevated: #363636;
    /*! Background of inputs inside containers */
    --canvas-inset: #2c2c2c;
    /*! Background of floating elements (menus, tooltips) */
    --canvas-overlay: #2c2c2c;
    /*! Background of code editors */
    --canvas-code: #252525;
    /*! Transparent background for surfaces containing text */
    --canvas-glass: rgba(54, 54, 54, 0.4);
    /*! Border color with medium contrast against window background */
    --border: #202020;
    /*! Border color with low contrast against window background */
    --border-subtle: #252525;
    /*! Border color with high contrast against window background */
    --border-strong: #020202;
    /*! Border color of focused input elements */
    --border-focus: #3b82f6;
    /*! Background color of buttons */
    --button-bg: #404040;
    /*! Start value of default button gradient */
    --button-gradient-start: #4a4a4a;
    /*! End value of default button gradient */
    --button-gradient-end: #404040;
    /*! Border color of default button in hover state */
    --button-hover-border: #141414;
    /*! Background color of disabled button */
    --button-disabled: rgba(69, 69, 69, 0.5);
    /*! Background color of primary button */
    --button-primary-bg: #2652cf;
    /*! Start value of primary button gradient */
    --button-primary-gradient-start: #2f67e1;
    /*! End value of primary button gradient */
    --button-primary-gradient-end: #2652cf;
    /*! Background color of primary button in disabled state */
    --button-primary-disabled: #4484ed;
    /*! Background of scrollbar in idle state (Win/Lin only) */
    --scrollbar-bg: #454545;
    /*! Background of scrollbar in hover state (Win/Lin only) */
    --scrollbar-bg-hover: #545454;
    /*! Background of scrollbar in pressed state (Win/Lin only) */
    --scrollbar-bg-active: #636363;
    /*! Default box-shadow color */
    --shadow: #141414;
    /*! Inset box-shadow color */
    --shadow-inset: #202020;
    /*! Box-shadow color with lower contrast against window background */
    --shadow-subtle: #363636;
    /*! Box-shadow color for elements in focused state */
    --shadow-focus: #6366f1;
    /*! Accent color for cards */
    --accent-card: #93c5fd;
    /*! Accent color for notes */
    --accent-note: #4ade80;
    /*! Saturated accent color to grab attention */
    --accent-danger: #f87171;
    /*! Flag 1 (red) */
    --flag-1: #f87171;
    /*! Flag 2 (orange) */
    --flag-2: #fdba74;
    /*! Flag 3 (green) */
    --flag-3: #86efac;
    /*! Flag 4 (blue) */
    --flag-4: #60a5fa;
    /*! Flag 5 (pink) */
    --flag-5: #f0abfc;
    /*! Flag 6 (turquoise) */
    --flag-6: #5eead4;
    /*! Flag 7 (purple) */
    --flag-7: #c084fc;
    /*! Accent color for new cards */
    --state-new: #93c5fd;
    /*! Accent color for cards in learning state */
    --state-learn: #f87171;
    /*! Accent color for cards in review state */
    --state-review: #22c55e;
    /*! Accent color for buried cards */
    --state-buried: #92400e;
    /*! Accent color for suspended cards */
    --state-suspended: #fef9c3;
    /*! Accent color for marked cards */
    --state-marked: #a855f7;
    /*! Background color of highlighted items */
    --highlight-bg: rgba(147, 197, 253, 0.5);
    /*! Foreground color of highlighted items */
    --highlight-fg: white;
    /*! Background color of selected text */
    --selected-bg: rgba(147, 197, 253, 0.5);
    /*! Foreground color of selected text */
    --selected-fg: white;
    color-scheme: dark
}

/*! props */
:root {
    --font-size: 15px;
    /*! Used to round corners of various UI elements */
    --border-radius: 5px;
    /*! Used for container corners */
    --border-radius-medium: 12px;
    /*! Used for pill-shaped buttons */
    --border-radius-large: 15px;
    /*! Default duration of transitions in milliseconds */
    --transition: 180ms;
    /*! Slightly longer transition duration in milliseconds */
    --transition-medium: 500ms;
    /*! Long transition duration in milliseconds */
    --transition-slow: 1000ms;
    /*! Default background blur value */
    --blur: 20px
}

:root.night-mode {
    --font-size: 15px;
    /*! Used to round corners of various UI elements */
    --border-radius: 5px;
    /*! Used for container corners */
    --border-radius-medium: 12px;
    /*! Used for pill-shaped buttons */
    --border-radius-large: 15px;
    /*! Default duration of transitions in milliseconds */
    --transition: 180ms;
    /*! Slightly longer transition duration in milliseconds */
    --transition-medium: 500ms;
    /*! Long transition duration in milliseconds */
    --transition-slow: 1000ms;
    /*! Default background blur value */
    --blur: 20px
}

/*! rest */
html {
    font-size: var(--font-size)
}

html body {
    overscroll-behavior: none
}

html body:not(.isMac)::-webkit-scrollbar, html body:not(.isMac) *::-webkit-scrollbar {
    background-color: var(--canvas)
}

html body:not(.isMac)::-webkit-scrollbar:horizontal, html body:not(.isMac) *::-webkit-scrollbar:horizontal {
    height: 12px
}

html body:not(.isMac)::-webkit-scrollbar:vertical, html body:not(.isMac) *::-webkit-scrollbar:vertical {
    width: 12px
}

html body:not(.isMac)::-webkit-scrollbar-thumb, html body:not(.isMac) *::-webkit-scrollbar-thumb {
    background: var(--scrollbar-bg);
    border-radius: var(--border-radius)
}

html body:not(.isMac)::-webkit-scrollbar-thumb:horizontal, html body:not(.isMac) *::-webkit-scrollbar-thumb:horizontal {
    min-width: 50px
}

html body:not(.isMac)::-webkit-scrollbar-thumb:vertical, html body:not(.isMac) *::-webkit-scrollbar-thumb:vertical {
    min-height: 50px
}

html body:not(.isMac)::-webkit-scrollbar-thumb:hover, html body:not(.isMac) *::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-bg-hover)
}

html body:not(.isMac)::-webkit-scrollbar-thumb:active, html body:not(.isMac) *::-webkit-scrollbar-thumb:active {
    background: var(--scrollbar-bg-active)
}

html body:not(.isMac)::-webkit-scrollbar-corner, html body:not(.isMac) *::-webkit-scrollbar-corner {
    background-color: var(--canvas)
}

html body:not(.isMac)::-webkit-scrollbar-track, html body:not(.isMac) *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: transparent
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: start;
    align-content: space-between
}

body:not(.fancy) .header {
    border-bottom: 1px solid var(--border-subtle)
}

.left-tray {
    justify-self: start
}

.right-tray {
    justify-self: end
}

.left-tray, .right-tray {
    align-self: start;
    display: flex;
    flex-direction: row;
    align-items: start
}

.toolbar {
    justify-self: center;
    white-space: nowrap;
    transition: all var(--transition) ease-in-out
}

.hitem {
    font-weight: bold;
    padding: 5px 12px;
    color: var(--fg);
    display: inline-block
}

.hitem:hover {
    text-decoration: underline
}

body {
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
    overflow: hidden;
    transition: opacity var(--transition) ease-in-out
}

body:not(.fancy).hidden {
    opacity: 0
}

body.fancy {
    margin-bottom: 5px;
    transition: transform var(--transition) ease-in-out
}

body.fancy.hidden {
    transform: translateY(-100vh)
}

body.fancy .toolbar {
    overflow: hidden;
    border-bottom-left-radius: var(--border-radius-medium);
    border-bottom-right-radius: var(--border-radius-medium);
    box-shadow: 0px 2px 1px -1px rgba(20, 20, 20, .1), 0px 1px 1px 0px rgba(20, 20, 20, .04), 0px 1px 3px 0px rgba(20, 20, 20, .02);
    background: var(--canvas-glass);
    backdrop-filter: blur(var(--blur))
}

body.fancy:not(.flat) .toolbar {
    background: var(--canvas-elevated);
    box-shadow: 0px 2px 1px -1px rgba(20, 20, 20, .2), 0px 1px 1px 0px rgba(20, 20, 20, .14), 0px 1px 3px 0px rgba(20, 20, 20, .12)
}

body.fancy:not(.flat) .toolbar:hover {
    box-shadow: 0px 3px 1px -2px rgba(20, 20, 20, .2), 0px 2px 2px 0px rgba(20, 20, 20, .14), 0px 1px 5px 0px rgba(20, 20, 20, .12)
}

body.fancy:not(.flat) .hitem {
    -webkit-appearance: none;
    cursor: pointer;
    border: none;
    background: var(--button-bg);
    color: var(--fg);
    background: var(--canvas-glass);
    border: 1px solid transparent
}

body.fancy:not(.flat) .hitem:active {
    box-shadow: inset 0 calc(var(--buttons-size, 10px)/15) calc(var(--buttons-size, 10px)/5) rgba(0, 0, 0, .35);
    border-color: var(--border-subtle)
}

body.fancy:not(.flat) .hitem[disabled], body.fancy:not(.flat) .hitem[disabled]:hover {
    cursor: not-allowed;
    color: var(--fg-disabled);
    box-shadow: none !important;
    background-color: var(--button-gradient-end);
    border-bottom-color: var(--border-subtle)
}

body.fancy .hitem {
    text-decoration: none;
    border: 1px solid transparent
}

body.fancy .hitem:hover {
    border: 1px solid var(--border-subtle)
}

body.fancy .hitem:active {
    background: var(--canvas-inset)
}

body.fancy .hitem:first-child {
    padding-left: 18px
}

body.fancy .hitem:last-child {
    padding-right: 18px
}

* {
    -webkit-user-drag: none
}

.hitem:focus {
    outline: 0
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg)
    }
}

.spin {
    width: 16px !important;
    animation: spin;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    display: inline-block;
    visibility: visible !important;
    animation-timing-function: linear;
    transition: all var(--transition) ease-in
}

#sync-spinner {
    height: 16px;
    margin-bottom: -3px;
    visibility: hidden;
    width: 0
}

.normal-sync {
    color: var(--state-new) !important
}

.full-sync {
    color: var(--state-learn) !important
}

/*AnKing edits*/